@()

@main("Freelancelot") {
    <div class="main-container">
        <div class="title-section">
            <h1>Welcome to Freelancelot</h1>
        </div>
        <div class="input-section">
            <div class="search-widget">
                <input type="text" placeholder="Enter search terms" name="searchText" id="searchText"/>
                <button type="submit" id="searchButton" name="searchButton" onclick="search()"><i class="fa fa-search" ></i></button>
            </div>
        </div>
        <div id="content">
            <div class="result" id="result0">
            </div>
            <div class="result" id="result1">
            </div>
            <div class="result" id="result2">
            </div>
            <div class="result" id="result3">
            </div>
            <div class="result" id="result4">
            </div>
            <div class="result" id="result5">
            </div>
            <div class="result" id="result6">
            </div>
            <div class="result" id="result7">
            </div>
            <div class="result" id="result8">
            </div>
            <div class="result" id="result9">
            </div>
        </div>
    </div>
}