@(result: SearchResults)

<p>
    <b>
        Search terms:
    </b>
    @result.searchTerm
    <a href="#" onclick='document.getElementById("globalWordCount_".concat("@result.requestId")).submit();'>
        Global Stat
    </a>
    FKGL: @result.readingEaseScores.fkgl,
    Flesch Reading Ease Index: @result.readingEaseScores.fleschReadingEaseScore.
</p>

@projectsDisplay(result.projectsList, result.requestId)

<form id='globalWordCount_@result.requestId' action='/wordStat' method='post'>
    <input type='hidden' name="wordCountMap" value='@result.wordStat' />
</form>